@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100dvh;
}

body {
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  width: 100vw;
  height: 100vh;

  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateZ(0);
}

@media (max-width: 768px) {
  body::before {
    top: -80px;
    bottom: -160px;
    height: auto;
    background-size: auto 140%; 
    background-position: left top;
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.font-elegant {
  font-family: "Cormorant Garamond", serif;
}