@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background: url("/background.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body::before {
    background-position: left top;

  }}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}